---
title: GET /records/{field-name}/{field-value}
weight: 50
---

# <a name="get-records-field-name-field-value">`GET /records/{field-name}/{field-value}`</a>	
<%= partial 'documentation/data_format_deprecation_notice.md' %>

<%= partial 'documentation/api_reference/get_records_field_name_field_value' %>
