---
title: GET /entries/{entry-number} 
weight: 70 
---

# <a name="get-entries-entry-number">`GET /entries/{entry-number}/`</a>	

<%= partial 'documentation/api_reference/get_entries_entry_number' %>
