---
title: GET /records/{key}/entries
weight: 40
---

# <a name="get-records-key-entries">`GET /records/{key}/entries`</a>	
<%= partial 'documentation/data_format_deprecation_notice.md' %>

<%= partial 'documentation/api_reference/get_records_key_entries' %>
