---
title: GET /records/{key}
weight: 30
---

# <a name="get-records-key">`GET /records/{key}`</a>	
<%= partial 'documentation/data_format_deprecation_notice.md' %>

<%= partial 'documentation/api_reference/get_records_key' %>
