---
title: GET /download-register
weight: 90
---

# <a name="get-download-register">`GET /download-register`</a>
<%= partial 'documentation/data_format_deprecation_notice.md' %>

<%= partial 'documentation/api_reference/get_download_register' %>
