---
title: GET /register 
weight: 10 
---

# <a name="getregister">`GET /register`</a>	
<%= partial 'documentation/data_format_deprecation_notice.md' %>

<%= partial 'documentation/api_reference/get_register' %>
